  body {
      background-image: url(../images/Kuda-background.svg);
      background-repeat: no-repeat;
      background-position: 940px;
  } 
   
  /* code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }  */
  
  
  /* .container {
    display: flex;
    color: rgb(29, 27, 26);
    justify-content: center;
    margin: 100px 400px;
    padding: 40px;
    background-color: rgb(52, 100, 155);
    border: 2px solid rgb(0, 102, 128);
    border-radius: 4px;
  } */
  
   button {
    color: #40196D;
    background-color: #EFF1FF;
    font-family: sans-serif;
    text-align:center;
    padding: 5px 15px;
    transition: transform .8s;
  }
  
  button:hover {
    transform: scale(1.1); 
  }
  
   .Checkurl {
    background-color: #EFF1FF;
    margin-bottom: 12.5px;
    padding: 10px 20px;
    color:#40196D;
    margin-left: 30px;
    font-size: 12px;
    text-align: center;
    margin-right: 890px;
  }
  
  .anchorLink {
    color: #48D38A;
  }
  
  .openAccount {
    padding: 12px 18px;
    font-size: 13px;
  }
  
  #para {
    color: #979797;
  }
  
  
  .kudaCont{
    background-color: #FFFFFF;
    border: black solid 2px;
    border-radius: 6px;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 890px;
    padding: 30px 20px;
  }
  
  
  #kudaInput1 {
    border: none;
    outline: none;
    background-color: rgb(209, 209, 230);
    padding: 9px 15px;
    width: 100%;
    border-radius: 10px;
  }
  
  
  .resetPw {
    font-size: 14px;
  }
  .pwordReset {
    color: #40196D;
  } 

  .cont1{
    display: flex;
    
  }

  .kuda-btn {
    width: 152px;
    height: 48px;
    background-color:#40196D;
    color: #FFFFFF;
    border-radius: 12px;
  }

  .p-text{
    /* width: 315px; */
    height: 35.17px;
    color: #979797;
    margin: 21px 0px 0px;
  }